@model PierresTracker.Models.Order

<h4>Add a new order</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price)
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date)
  <input type="submit" value="Add new item" />
}
<p>@Html.ActionLink("Show all orders", "Index")</p>